<mat-checkbox
#showDetails 
[value]=""
[checked] ="isChecked"
(change)="onChange($event)"
class="example-margin">Show Details</mat-checkbox>

<div *ngIf="showDetails.checked"> Some Details!</div>

<br>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason2">
  <mat-radio-button (change)="onChangeRadioButton(favoriteSeason2)" class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">Your favorite season is: {{favoriteSeason2}}</div>

<br>
<mat-form-field>
  <mat-select placeholder="Favorite animal" [formControl]="animalControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let animal of animals" [value]="animal">
      {{animal.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
  <mat-hint>{{animalControl.value?.sound}}</mat-hint>
</mat-form-field>
<br>

<h2>Escolha a estação:</h2><i class="material-icons">face</i>
<mat-form-field style="width: 300px">
  <mat-select placeholder="Escolha um evento" 
  (change)="selecionaEvento(evento.data)" 
  [(ngModel)]="evento.data">
    <mat-option *ngFor="let ee of evento" [value]="ee.data">
      {{ee.id}} - {{ ee.titulo }} 
    </mat-option>
  </mat-select>
</mat-form-field>
<h2>Data Picker - Com eventos</h2><mat-icon>home</mat-icon><i class="material-icons">code</i><i class="material-icons">pets</i>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Input & change events"
         (dateInput)="addEvent('input', $event, picker, evento.data)" (dateChange)="changeEvent('change', $event)">

  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<div class="example-events" *ngIf="recebeFiltro.id > 0">
  <!-- <div *ngFor="let f of recebeFiltro">
   <p>Título do Evento: {{ f.titulo }}</p>
   <p>Descrição: {{ f.corpo }}</p> 
   <p>Data: {{ f.data }}</p>
   <p>Aniversariante: {{ f.name }}</p> 
  </div> -->
  <div>
   <p>Título do Evento: {{ recebeFiltro.titulo }}</p>
   <p>Descrição: {{ recebeFiltro.corpo }}</p> 
   <p>Data: {{ recebeFiltro.data }}</p>
   <p>Aniversariante: {{ recebeFiltro.name }}</p> 
  </div>
</div>
